@import "assets/variables.scss";
@import "assets/mixins.scss";


.items {
    background-color: $secondary;
    padding: $padding * 7 0 $padding * 4;
    h4 {
        margin: 0 0 5px;
    }
    p {
        margin-bottom: $margin *4;
    }
    &-list {
        flex-wrap: nowrap;
        margin-bottom: $margin;
        @include tablet {
            justify-content: center;
            flex-wrap: wrap;
        } 
    }
}
  
.card {
    width: 24%;
    margin: 0 10px 10px 0;
    @include tablet {
        width: 48%;
        margin-bottom: 10px;
    }
    @include mobile {
        margin-bottom: $margin *3;
        width: 59%;
    }
    &-text {
        font-size: 13px;
        line-height: 19px;
        color: #696969;
        font-family: 'Open Sans';
        font-weight: 400;
    }
}

.card-img-top {
    height: 200px;
}

.card-title {
    font-size: 14px;
    letter-spacing: .3px;
    color: $headingColor;
    font-weight: 700;
    text-transform: uppercase;
}

.card-body {
    padding: $padding *2 19px;
    position: relative;
    .badge {
        position: absolute;
        top: -30px;
        right: 10px;
    }
}

