
// Color system

$primary: white;
$secondary: #e7e7e7;
$btnColor: #fd4f32;
$btnColorHover: #a92914;
$headingColor: #323232;
$bodyColor: #8b8b8b;

$border-radius: 0 !default;
$border-width:  0 !default;

$padding: 8px;
$margin: 8px;